body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2 {
  text-align: center;
}
#map {
  height: 500px;
  width: 100%;
  margin: 10px 0;
}
#controls {
  text-align: center;
  margin: 10px;
}
#citySearch {
  padding: 5px;
  width: 200px;
}
#stateSelect {
  padding: 5px;
}

